@model IEnumerable<CSharp_Net_module3_1_1_lab.Models.BookModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddBook")
</p>
@using (Html.BeginForm("UpdateBook", "Book", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>Check</th>
            <th>@Html.DisplayNameFor(model => model.BookName)</th>
            <th>@Html.DisplayNameFor(model => model.Author)</th>
            <th>@Html.DisplayNameFor(model => model.Edition)</th>
            <th>@Html.DisplayNameFor(model => model.Publishing)</th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.Books)
        {
            <tr>
                <td><input name="bookId" type="radio" value="@ViewBag.Books.IndexOf(item)" /></td>
                <td>@item.BookName</td>
                <td>@item.Author</td>
                <td>@item.Edition</td>
                <td>@item.Publishing</td>

                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Books.IndexOf(item) }) |
                    @Html.ActionLink("Details", "Details", new { id = ViewBag.Books.IndexOf(item) }) |
                    @Html.ActionLink("Delete", "Delete", "Book", new { id = ViewBag.Books.IndexOf(item) },FormMethod.Post)
                   
                </td>
            </tr>
        }

    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" name="update" />
        </div>
    </div>
}

