@model Patederm.Models.Student

@{
    ViewBag.Title = "UserAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sex = (Sex)Model.Sex;
}

<h2>UserAccount</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>

        <dd>
            @ViewBag.Department
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfSportId)
        </dt>

        <dd>
            @ViewBag.Sport
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
           
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @sex
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User.Id }) |
</p>
