@model IEnumerable<Patederm.Models.CardioParamResultWoman>

@{
    ViewBag.Title = "Index";
    int minute = Model.Select(a => a.Minute).Max() + 1;
    byte[] clusters = Model.Select(a => a.ClusterWomanId).Distinct().ToArray();
}
<link rel="stylesheet" href="~/Content/StylesForResearch.css">

<h2>Исследования</h2>
<hr />
<div class="cluster_table">
    <table>
        <thead>
            <tr>
                <th>Parametr</th>
                @for (int i = 0; i < clusters.Length; i++)
                {
                    <th>Cl @clusters[i]</th>
                }
            </tr>
        </thead>


        @for (byte i = 0; i < minute; i++)
        {

            <tr>
                <th>ASP @i</th>
                @for (int j = 0; j < clusters.Length; j++)
                {
                    var minutes = Model.Where(c => c.ClusterWomanId == clusters[j]).Select(a => a.Minute).ToList();
                    if (!minutes.Contains((byte)i))
                    {
                        <td>-</td>
                        continue;
                    }
                    <td>@Model.Where(b => b.ClusterWomanId == clusters[j]).Select(a => a.ASP).ToArray()[minutes.IndexOf((byte)i)]</td>
                }
            </tr>
            <tr>
                <th>ADP @i</th>
                @for (int j = 0; j < clusters.Length; j++)
                {
                    var minutes = Model.Where(c => c.ClusterWomanId == clusters[j]).Select(a => a.Minute).ToList();
                    if (!minutes.Contains((byte)i))
                    {
                        <td>-</td>
                        continue;
                    }
                    <td>@Model.Where(b => b.ClusterWomanId == clusters[j]).Select(a => a.ADP).ToArray()[minutes.IndexOf((byte)i)]</td>
                }
            </tr>
            <tr>
                <th>HR @i</th>
                @for (int j = 0; j < clusters.Length; j++)
                {
                    var minutes = Model.Where(c => c.ClusterWomanId == clusters[j]).Select(a => a.Minute).ToList();
                    if (!minutes.Contains((byte)i))
                    {
                        <td>-</td>
                        continue;
                    }
                    <td>@Model.Where(b => b.ClusterWomanId == clusters[j]).Select(a => a.HR).ToArray()[minutes.IndexOf((byte)i)]</td>
                }
            </tr>
        }

    </table>
</div>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="input_data">

    @using (Ajax.BeginForm("Calculate", "Research", new AjaxOptions { UpdateTargetId = "results", HttpMethod = "Post", OnSuccess = "OnSuccess" }))
    {<div>
            <input type="hidden" value="@ViewBag.UserId" name="userId" />
            <table class="input_table">
                <thead>
                    <tr>
                        <th>ASP</th>
                        <th>ADR</th>
                        <th>HR</th>
                        <th>Minute</th>
                    </tr>
                </thead>
                @for (int i = 0; i < minute; i++)
                {
                    <tr>
                        <td><input type="number" name="[@i].ASP" step="0.1" class="input_block" value="@i"></td>
                        <td><input type="number" name="[@i].ADP" step="0.1" class="input_block" value="@i"></td>
                        <td><input type="number" name="[@i].HR" step="0.1" class="input_block" value="@i"></td>
                        <td><input type="number" name="[@i].Minute" step="0.1" class="input_block" value="@i" readonly></td>
                    </tr>
                }

            </table>
        </div>
        <div id="results"></div>
        <input type="submit" value="Send">
    }


    <div id="saveLink">
        @if (Request.IsAuthenticated)
        {

            @Html.ActionLink("Save", "Save", new { id = 0 }, new { @class = "saveData" })
            @*<input type="submit" value="Save" style="display:block">*@
        }
    </div>
</div>

@section scripts
{   
    <script type="text/javascript">
        if ($("#viewResults").length) {
            $("#saveLink").show()
        }
        else {
            $("#saveLink").hide()
        }
    </script>

    @Scripts.Render("~/scripts/myScripts.js")
}