@model IEnumerable<Patederm.Models.CardioParamResultWoman>

@{
    ViewBag.Title = "Index";

    int minute = Model.Select(a => a.Minute).Max() + 1;
    byte[] clusters = Model.Select(a => a.ClusterWomanId).Distinct().ToArray();

}
<style>
    .cluster_table {
        float: left;
        width: 50%;
    }

        .cluster_table thead {
            color: #ffffff;
            font-weight: bold;
            background: #00bf80;
            border: 1px solid #01ab73;
        }

        .cluster_table tr, td, th {
            border: 1px solid #e8e9eb;
            padding: 7px 15px 1px 15px;
        }
            /*чередование цвета в строка*/
            .cluster_table tr:nth-child(2n) {
                background: #f4f4f4;
            }
        /*подсветка при наведении строки*/
        .cluster_table table tbody tr:hover {
            background: #ebffe8;
        }

    .input_data {
        float: left;
        width: 50%;
    }

    .input_block {
        width: 60%;
        text-align: center;
    }

    .input_table {
        border: 0px;
        text-align: center;
    }

        .input_table tr, td, th {
            border: 0px;
            text-align: center;
        }

        .input_table thead {
            color: #ffffff;
            font-weight: bold;
            background: #00bf80;
            border: 1px solid #01ab73;
        }
</style>
<h2>Исследования</h2>
<hr />
<div class="cluster_table">
    <table>
        <thead>
            <tr>
                <th>Parametr</th>
                @for (int i = 0; i < clusters.Length; i++)
                {
                    <th>Cl @clusters[i]</th>
                }
            </tr>
        </thead>


        @for (byte i = 0; i < minute; i++)
        {

            <tr>
                <th>ASP @i</th>
                @for (int j = 0; j < clusters.Length; j++)
                {
                    var minutes = Model.Where(c => c.ClusterWomanId == clusters[j]).Select(a => a.Minute).ToList();
                    if (!minutes.Contains((byte)i))
                    {
                        <td>-</td>
                        continue;
                    }
                    <td>@Model.Where(b => b.ClusterWomanId == clusters[j]).Select(a => a.ASP).ToArray()[minutes.IndexOf((byte)i)]</td>
                }
            </tr>
            <tr>
                <th>ADP @i</th>
                @for (int j = 0; j < clusters.Length; j++)
                {
                    var minutes = Model.Where(c => c.ClusterWomanId == clusters[j]).Select(a => a.Minute).ToList();
                    if (!minutes.Contains((byte)i))
                    {
                        <td>-</td>
                        continue;
                    }
                    <td>@Model.Where(b => b.ClusterWomanId == clusters[j]).Select(a => a.ADP).ToArray()[minutes.IndexOf((byte)i)]</td>
                }
            </tr>
            <tr>
                <th>HR @i</th>
                @for (int j = 0; j < clusters.Length; j++)
                {
                    var minutes = Model.Where(c => c.ClusterWomanId == clusters[j]).Select(a => a.Minute).ToList();
                    if (!minutes.Contains((byte)i))
                    {
                        <td>-</td>
                        continue;
                    }
                    <td>@Model.Where(b => b.ClusterWomanId == clusters[j]).Select(a => a.HR).ToArray()[minutes.IndexOf((byte)i)]</td>
                }
            </tr>
        }

    </table>
</div>

<div class="input_data">
    @using (Ajax.BeginForm("Calculate", "Research", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <table class="input_table">
            <thead>
                <tr>
                    <th>ASP</th>
                    <th>ADR</th>
                    <th>HR</th>
                    <th>Minute</th>
                </tr>
            </thead>
            @for (int i = 0; i < minute; i++)
            {
                <tr>
                    @*<td><input type="hidden" name="Id" value="0.1"></td>
                        <td><input type="hidden" name="StudentId" value="0.1"></td>*@

                    <td><input type="number" name="[@i].ASP" step="0.1" class="input_block" value="@i"></td>
                    <td><input type="number" name="[@i].ADP" step="0.1" class="input_block" value="@i"></td>
                    <td><input type="number" name="[@i].HR" step="0.1" class="input_block" value="@i"></td>
                    <td><input type="number" name="[@i].Minute" step="0.1" class="input_block" value="@i" readonly></td>
                </tr>
            }

        </table>
        <p id="results"> @ViewBag.ASP </p>
        <div>
            <input type="submit" value="Send">
            @if (Request.IsAuthenticated)
            {
                <input type="submit" value="Save">
            }
        </div>
    }
</div>


